{% extends 'base_general.html' %} {% load static %}
{% block title %}{{ service.service_name }}{% endblock %}
{% block additional_style %} {% endblock additional_style %} {% block content %}
    <div class="container-fluid"
         style="background-image: url('/media/{{ service.big_photo }}'); background-size: cover; background-position: center; height: 60vh">
    </div>
    <div class="container">
        <h1 style="font-size: 86px">{{ service.service_name }}</h1>
        <p class="my-5" style="font-size: 22px">{{ service.service_description }}</p>
        <h2 style="font-size: 54px">Service Details</h2>
        <table class="w-100 mb-5" style="border: none; font-size: 22px">
            <tbody>
                <tr>
                    <td class="pb-3">PRICE</td>
                    <td class="float-right">From {{ service.min_price }}$</td>
                </tr>
                <tr>
                    <td class="pb-3">NUMBER OF PEOPLE</td>
                    <td class="float-right">{{ service.number_of_people }}</td>
                </tr>
                <tr>
                    <td class="pb-3">TYPE OF FOOD</td>
                    <td class="float-right">For Choice</td>
                </tr>
                <tr>
                    <td class="pb-3">ADDITIONAL SERVICES</td>
                    <td class="float-right">For Choice</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container my-5">
        <h4 class="">More services</h4>
        <div class="row my-5">
            {% for ser in services %}
                <div class="col-3">
                    <img class="w-100" style="aspect-ratio : 1 / 1; object-fit: cover;" src="/media/{{ ser.little_photo }}" alt="">
                    <h5>{{ ser.service_name }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container mb-4">
            <div class="row w-100">
                <div class="text-left col-4">
                    <h5>Our Address</h5>
                    <a class="text-dark">Turan, 45 <br/>Astana</a>
                </div>
                <div class="text-center col-4">
                    <h5>For Inquiries</h5>
                    <a class="text-dark">event@gmai.com</a>
                </div>
                <div class="text-right col-4">
                    <h5>Contact Us</h5>
                    <a class="text-dark">+7 707 456 77 77</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}