{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Client Management</h2>

    <!-- Existing Clients Section -->
    <div class="form-section mb-5">
        <h3 class="section-title mb-3">Existing Clients</h3>
        <div class="list-group">
            {% for client in clients %}
            <div class="list-group-item">
                {{ client.user.username }}
                - <a href="{% url 'accounts:client_edit' client.id %}" class="edit-link">Edit</a>
                - <a href="{% url 'accounts:client_delete' client.id %}" class="delete-link">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Add New Client Section, moved to the bottom -->
    <div class="form-section">
        <h3 class="section-title mb-3">Add New Client</h3>
        <form method="post" action="{% url 'accounts:client_add' %}" class="client-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

{% endblock %}

{% block additional_css %}
<style>
    .container {
        max-width: 600px;
        margin: auto;
    }
    .form-section {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .section-title {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 10px;
    }
    .client-form p {
        margin-bottom: 10px;
    }
    .client-form label {
        display: block;
        margin-bottom: .5rem;
        color: #666;
    }
    .client-form input[type=text],
    .client-form input[type=email],
    .client-form input[type=tel] {
        width: 100%;
        padding: .375rem .75rem;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }
    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }
    .delete-link {
        color: #dc3545;
        text-decoration: none;
    }
    .delete-link:hover {
        text-decoration: underline;
    }
    .list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .125);
    }
</style>
{% endblock %}
